* {
    margin: 0;
    padding: 0;
}

/* navigatoin kaj start */

.nav-container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.navigation img {
    width: 120px;
}

.navbar ul {
    display: flex;
    gap: 32px;
}
.navbar ul li:hover a{
    color: #8d050e;
}
.navbar ul>li {
    list-style: none;
}

.navbar ul>li>a {
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.nav-btn button {
    font-size: 16px;
    padding: 12px 16px;
    background-color: #469165;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-btn button:hover{
background-color: #042c83c7;
color: #eceeee;
transition: 0.5s;
}


/* <!-- hero section kaj start --> */

.background-img {
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 674px;

}

.hero-section {
    text-align: center;
}

.hero-btn {
    margin-top: 115px;
    font-size: 16px;
    padding: 8px 12px 8px 10px;
    color: #469165;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.hero-btn i {
    color: #469165;
    margin-right: 10px;
}

.hero-section h1 {
    font-size: 75px;
    color: #ffffff;
}

.hero-color {
    color: #469165;
}

.hero-section p {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.first-btn {
    padding: 16px 16px;
    font-size: 16px;
    margin-top: 32px;
    background-color: #469165;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    transition: 0.5s;
}
.first-btn:hover{
    background-color: #fdfefe;
    color: #001931;
    transition: 1s;
}

.second-btn {
    font-size: 16px;
    padding: 15px 15px;
    color: #ffffff;
    background-color: #ffffff07;
    border-color: #ffffff;
    margin-left: 13px;
    border-radius: 4px;
    transition: 0.5s;
}
.second-btn:hover{
    background-color: #000203;
    transition: 1s;
}

.second-btn i {
    margin-right: 5px;
}




.second-item {
    text-align: center;
}

.second-item h1 {
    font-size: 48px;
    margin-top: 100px;
}

.second-item p {
    font-size: 16px;
    margin-top: 16px;
    color: #627382;
}

.box-container {
    margin: auto;
    text-align: center;
}

.main-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.box-item {
    width: 322px;
    height: 300px;
    margin-top: 44px;
    border-radius: 8px;
    box-shadow: 5px 5px 9px rgb(137, 133, 133);
}

.box-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F95555;
    margin: auto;
    margin-top: 70px;
}

.box-item h3 {
    font-size: 24px;
    padding: 16px 24px;
}

.box-item p {
    padding: 16px 24px;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}


/* <!-- third section code start --> */
.third-main-contaion {
    margin: auto;
    width: 1360px;
    margin-top: 120px;
}

.third-section {
    display: flex;
    gap: 60px;
}

.third-section-img img {
    width: 600px;
    height: 600px;
}

.third-section-logo h4 {
    font-size: 16px;
    color: #469165;
    margin-top: 120px;
}

.third-section-logo h1 {
    font-size: 48px;
    color: #001931;
    margin-top: 16px;
    margin-bottom: 16px;
}

.third-section-logo p {
    font-size: 16px;
    color: #627382;
    line-height: 20px;

}

.third-logo {
    display: flex;
    margin-top: 9px;

}

.third-logo p {
    font-size: 16px;
    color: #001931;

}

.third-logo img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* <!-- last section code start --> */
.fourth-section {
    width: 1360px;
    margin: auto;
    background-color: #eceeee;
    margin-top: 120px;
    border-radius: 12px;
}

.fourth-item {
    text-align: center;
}

.fourth-item h1 {
    font-size: 40px;
    color: #001931;
    padding-top: 80px;
}
.fourth-item p {
    font-size: 16px;
    line-height: 24px;
    color:#627382;
    margin-top: 16px;
    margin-bottom: 20px;
   
}
.fourth-item button{
    font-size: 16px;
    padding: 16px 16px;
    background-color: #469165;
    border: none;
    color: #ffffff;
    transition: 0.5s;
    transition: 0.5s;
}
#btn:hover{
    background-color:#023737 ;
    transition: 1s;
}
.fourth-item button i{
    margin-left: 5px;
}
.last-item{
    padding-bottom: 80px;
}




  /* footer code start */


footer{
    width: 100%;
    margin-top: 120px;
    background-color: #001931;
   
}
.footer-container{
width: 1360px;
 margin: auto;
}
.main-footer{
     margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top:  100px;
    padding-bottom: 80px;
}
.footer-img img{
    width: 139px;
    height: 60px;
}
.footer-item{
   color: #ffffff; 
   margin-right: 100px;
}
.footer-item p{
  font-size: 20px;
  margin-bottom: 30px;
}
.footer-item i{
    margin-right: 5px;
}
.footer-last-item{
    text-align: center;
    color: #FAFAFA;
    padding: 30px 0px;
    font-size: 16px;
    line-height: 24px;
}